header {
  background-image: url('../assets/images/headerbg.jpg');
  height: 150px;
}

#logo {
  width: 50%;
  margin-left: 3%;
  margin-top: 80px;
}

#settings {
  margin-left: 27.4%;
}

header button {
  position: absolute;
  margin-left: 25%;
  margin-top: 90px;
}

.header-btn {
  background-color: #31456e;
  border: 1px solid #31456e;
  color: #fff;
  padding: 1%;
  font-size: 0.9em;
  margin-bottom: 40px;
}

.header-btn:hover {
  background-color: #cccccc;
  color: #333333;
  border: 1px solid #cccccc;
  padding: 1%;
  font-size: 0.9em;
}


/* Responsive Mobile */

@media screen and (max-width: 481px) {
      #logo {
        width: 80%
      }

      #settings {
        margin-left: 0;
        margin-top: 98px;
      }

      #content {
        margin-top: 0;
      }
    }

/* Responsive Tablet */

@media screen and (min-width: 482px) and (max-width: 1024px) {
      #settings {
        margin-left: 31.5%;
      }
    }
