header {
  background-image: url('../assets/images/headerbg.jpg');
  height: 150px;
}

#logo {
  width: 50%;
  margin-left: 3%;
  margin-top: 80px;
}

#settings {
  margin-left: 18%;
}

header button {
  position: absolute;
  margin-left: 25%;
  margin-top: 90px;
}

.header-btn {
  background-color: #31456e;
  border: 1px solid #31456e;
  color: #fff;
  padding: 1%;
  font-size: 0.9em;
  margin-bottom: 40px;
}

.header-btn:hover {
  background-color: #cccccc;
  color: #333333;
  border: 1px solid #cccccc;
  padding: 1%;
  font-size: 0.9em;
}
