nav {
  margin-top: 150px;
  margin-left: 5%;
  margin-bottom: 250px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

 ul li {
   display: inline-block;
   position: relative;
   float: left;

 }

 ul li a {
   display: block;
   text-decoration: none;
   white-space: nowrap;
   color: #fff;
   background: #333333;
   padding-right: 38.8%;
   padding-left: 39.3%;
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 1.2em;
   font-weight: bold;
 }

 li ul {
   display: none;
 }

 li ul a {
   padding-left: 10%;
   padding-right: 90%;
 }


 ul li a:hover {
   background: #cccccc;
   color: #333333;
 }

 li:hover ul {
   display: block;
   position: absolute;
 }

 #active-item {
   background-color: #31456e;
 }

 #active-item:hover {
   color: #fff;
 }

 /* Responsive Mobile */

 @media screen and (max-width: 481px) {
      nav {
        margin-top: 70px;
        margin-bottom: 200px;
        margin-left: 0;
      }

      ul li a {
        padding-right: 28%;
        padding-left: 23%;
        padding-top: 40px;
        padding-bottom: 40px;

      }

      li ul a {
        padding-right: 110%;
        padding-left: 5%;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

 /* Responsive Tablet */

 @media screen and (min-width: 482px) and (max-width: 1024px) {
   nav {
     margin-top: 100px;
     margin-bottom: 230px;
   }

   ul li a {
     padding-right: 37.2%;
     padding-left: 37.3%;
     padding-top: 40px;
     padding-bottom: 40px;

   }

   li ul a {
     padding-right: 110%;
     padding-left: 5%;
     padding-top: 40px;
     padding-bottom: 40px;
   }
 }
